.courses-div {
  height: 500vh;
  min-width: 100%;
  font-family: 'Lexend';
}

.courses-div header {
  display: flex;
  flex-direction: row;
<<<<<<< HEAD
  height: 130px;
=======
  height: 120px;
>>>>>>> f57f94923a0c423baf9c9c05d88910e7e5b4fe55
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: #4E7133;
  min-width: 100%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.courses-div header:hover{
  background-color: #0C359E;
}

header .header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 6vh;
}

<<<<<<< HEAD
main {
  overflow-y: auto;
  position: relative;
  z-index: 0;
  padding-bottom: 30px;
=======
header h1 {
  font-size: 1.7rem;
  margin-left: 3vh;
>>>>>>> f57f94923a0c423baf9c9c05d88910e7e5b4fe55
}

header h1 {
  font-size: 1.7rem;
  margin-left: 2vh;
}

ion-icon {
  margin: 1vh;
  font-size: 25px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

ion-icon:hover{
  transform: scale(1.3);
}

.courses {
  display: grid;
  max-width: 400;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
}

.course-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 110px;
  width: 170px;
  border: none;
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.2), 2px 6px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
<<<<<<< HEAD
  margin: 20px;
  margin-top: 10px;
}

.course-card:hover {
  transform: scale(1.1);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2), 0px 10px 10px rgba(0, 0, 0, 0.2);
=======
  margin-left: 10px;
  margin-bottom: 10px;
>>>>>>> f57f94923a0c423baf9c9c05d88910e7e5b4fe55
}

.course-card:hover {
  transform: scale(1.1);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2), 0px 10px 10px rgba(0, 0, 0, 0.2);
}



.course-title {
<<<<<<< HEAD
  font-size: 1.2rem;
  font-weight: 700;
  margin: 5vh;
}


@media screen and (max-width: 906px) {
  .courses {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  }
}


@media screen and (max-width: 770px) {
  .courses{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .course-card{
    height: 100px;
    width: 250px;
  }
  
}

@media screen and (max-width: 579px) {
  .course-card{
    height: 100px;
    width: 230px;
  }

  .course-title{
    font-size: 1rem;
  }
}

@media screen and (max-width: 536px) {
  .courses{
    display: flex;
=======
  text-align: center;
  font-size: 12px;
  font-weight: 900;
  margin: 2vh;
}



@media only screen and (min-width:  678px) {
  .courses-div {
    height: 500vh;
    min-width: 100%;
    font-family: 'Lexend';
  }
  
  .courses-div header {
    display: flex;
    flex-direction: row;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: #4E7133;
    min-width: 100%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .courses-div header:hover{
    background-color: #0C359E;
  }
  
  header .header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 100px 20px;
  }
  
  header h1 {
    font-size: 1.7rem;
    margin-left: 3vh;
  }
  
  ion-icon {
    margin: 2px 0px 1px;
    font-size: 25px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }
  
  ion-icon:hover{
    transform: scale(1.4);
  }
  
  .courses {
    display: grid;
    max-width: 400;
>>>>>>> f57f94923a0c423baf9c9c05d88910e7e5b4fe55
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }
<<<<<<< HEAD

  .course-card{
    height: 80px;
    width: 190px;
  }

  .course-title{
    font-size: 0.8rem;
  }

}

@media screen and (max-width: 465px) {
  .courses{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .course-card{
    height: 70px;
    width: 180px;
  }

  .course-title{
    font-size: 0.7rem;
  }


=======
  
  .course-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 165px;
    width: 400px;
    border: none;
    box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.2), 2px 6px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 10px;
    background-color: #fff;
    color: #000;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    margin: 20px;
  }
  
  .course-card:hover {
    transform: scale(1.1);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2), 0px 10px 10px rgba(0, 0, 0, 0.2);
  }
  
  
  
  .course-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 5vh;
  }
}





@media only screen and (min-width:  1000px) {
  .courses-div {
    height: 500vh;
    min-width: 100%;
    font-family: 'Lexend';
  }
  
  .courses-div header {
    display: flex;
    flex-direction: row;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: #4E7133;
    min-width: 100%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .courses-div header:hover{
    background-color: #0C359E;
  }
  
  header .header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 100px 20px;
  }
  
  header h1 {
    font-size: 1.7rem;
    margin-left: 3vh;
  }
  
  ion-icon {
    margin: 2px 0px 1px;
    font-size: 25px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }
  
  ion-icon:hover{
    transform: scale(1.4);
  }
  
  .courses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 25px;
  }
  
  .course-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 165px;
    width: 400px;
    border: none;
    box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.2), 2px 6px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 10px;
    background-color: #fff;
    color: #000;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    margin: 20px;
  }
  
  .course-card:hover {
    transform: scale(1.1);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2), 0px 10px 10px rgba(0, 0, 0, 0.2);
  }
  
  
  
  .course-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 5vh;
  }
}

@media only screen and (min-width:  678px) {
  .courses-div {
    height: 500vh;
    min-width: 100%;
    font-family: 'Lexend';
  }
  
  .courses-div header {
    display: flex;
    flex-direction: row;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: #4E7133;
    min-width: 100%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .courses-div header:hover{
    background-color: #0C359E;
  }
  
  header .header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 100px 20px;
  }
  
  header h1 {
    font-size: 1.7rem;
    margin-left: 3vh;
  }
  
  ion-icon {
    margin: 2px 0px 1px;
    font-size: 25px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }
  
  ion-icon:hover{
    transform: scale(1.4);
  }
  
  .courses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 25px;
  }
  
  .course-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 165px;
    width: 400px;
    border: none;
    box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.2), 2px 6px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 10px;
    background-color: #fff;
    color: #000;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    margin: 20px;
  }
  
  .course-card:hover {
    transform: scale(1.1);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2), 0px 10px 10px rgba(0, 0, 0, 0.2);
  }
  
  
  
  .course-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 5vh;
  }
>>>>>>> f57f94923a0c423baf9c9c05d88910e7e5b4fe55
}